node-red/flows.json
[{"id":"f7abed1.19bb61","type":"tab","label":"Patrol LC","disabled":false,"info":""},{"id":"3892a8d0.2e19d8","type":"ui_tab","z":"","name":"Patrol LC Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"a9705ade.e70f38","type":"ui_group","z":"","name":"LC command builder","tab":"3892a8d0.2e19d8","disp":true,"width":"6","collapse":false},{"id":"33e0ce21.b9aaf2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b1d9e9f.bce08","type":"tcp out","z":"f7abed1.19bb61","host":"10.131.0.175","port":"11017","beserver":"client","base64":false,"end":false,"name":"PatrolLC Socket","x":940,"y":300,"wires":[]},{"id":"63e79d96.f25a54","type":"inject","z":"f7abed1.19bb61","name":"run command","topic":"","payload":"{\"command\":\"run<EOF>\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":180,"wires":[["906dada1.50793"]]},{"id":"906dada1.50793","type":"function","z":"f7abed1.19bb61","name":"stringify","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["894d5c7a.c5192","d152a659.91a628"]]},{"id":"e34e876c.5f90a8","type":"ui_text_input","z":"f7abed1.19bb61","name":"JSON tag","label":"JSON tag","tooltip":"JSON tag name","group":"a9705ade.e70f38","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"tag","x":320,"y":260,"wires":[["7eb99fd1.11354"]]},{"id":"6940c18f.e12c5","type":"ui_text_input","z":"f7abed1.19bb61","name":"JSON command","label":"JSON command","tooltip":"JSON command parameter","group":"a9705ade.e70f38","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"command","x":300,"y":300,"wires":[["7eb99fd1.11354"]]},{"id":"7eb99fd1.11354","type":"function","z":"f7abed1.19bb61","name":"make command","func":"if (msg.topic === \"tag\") {\n    context.set(\"tag\", msg.payload);\n}\nif (msg.topic === \"command\") { \n    context.set(\"command\", msg.payload);\n}\nif (msg.topic === \"send\") {\n    let tag = context.get(\"tag\");\n    let command = context.get(\"command\");\n    let fullCommand = '{\"' + tag + '\": ' + '\"' + command + '\"}'\n    node.send({\n        \"payload\": fullCommand\n    })\n}","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["5756ee82.c3985","9b1d9e9f.bce08","c63a0bb8.8df7e8"]]},{"id":"a7f520e1.0202","type":"ui_button","z":"f7abed1.19bb61","name":"send","group":"a9705ade.e70f38","order":3,"width":0,"height":0,"passthru":false,"label":"SEND","tooltip":"send JSON","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"send","x":330,"y":340,"wires":[["7eb99fd1.11354"]]},{"id":"894d5c7a.c5192","type":"debug","z":"f7abed1.19bb61","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":240,"wires":[]},{"id":"5756ee82.c3985","type":"debug","z":"f7abed1.19bb61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":360,"wires":[]},{"id":"91c5da46.e83f38","type":"inject","z":"f7abed1.19bb61","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["e34e876c.5f90a8","6940c18f.e12c5"]]},{"id":"c63a0bb8.8df7e8","type":"function","z":"f7abed1.19bb61","name":"clear text","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":460,"wires":[["e34e876c.5f90a8","6940c18f.e12c5"]]},{"id":"d152a659.91a628","type":"tcp out","z":"f7abed1.19bb61","host":"10.131.1.23","port":"11017","beserver":"client","base64":false,"end":false,"name":"","x":880,"y":560,"wires":[]},{"id":"e254cef.2b32d3","type":"inject","z":"f7abed1.19bb61","name":"","topic":"","payload":"HELLO ANGEL <EOF>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":560,"wires":[["d152a659.91a628"]]}]